amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
Django==1.11.4
django-admin==1.0.6
django-excel-response2==2.0.6
django-postgres-delete-cascade==2.0a1
django-registration==2.2
-e git+https://github.com/radiac/django-tagulous.git@1e3f3271f24f6f9bb57901e3ca9148d86b003948#egg=django_tagulous
djangorestframework==3.6.4
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.6
jieba3k==0.35.1
kombu==4.1.0
lxml==4.1.0
newspaper3k==0.2.5
nltk==3.2.5
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
redis==2.10.6
requests==2.18.4
requests-file==1.4.2
screen==1.0.1
six==1.11.0
tldextract==2.1.0
urllib3==1.22
vine==1.1.4
xlwt==1.3.0
