:local(.outerbox) {
	display: flex;
	align-items: center;
	border: 0.1em solid #c0c0c0;
	margin: 5px 40px;
	background-color: #f0ffff;
	height: 100%;
	border-radius: 25px;
}

:local(.outerbox:hover) {
	background-color: #ffe4c4;
}

:local(.pic) {
	width: 100px;
	height: 100px;
	display: inline;
	margin: 30px 10px;
	border: solid
}

:local(.likebox) {
	display: flex;
	align-items: center;
	width: 50px;
}

:local(.likebox > div) {
	display: flex;
	flex-direction: column;
	margin: 6px;
}

:local(.like) {
	color: black;
	opacity: 0.75;
	font-size: 22px;
}

:local(.like:hover) {
	opacity: 1;
}

:local(.likeselected) {
	color: #00cccc;
	opacity: 1;
}

:local(.likeCount) {
	color: black;
	font-size: 20px;
}

:local(.description) {
	width: 70%;
	display: inline-block;
	margin: 0px 50px;
	text-align: center;
}

:local(.textDescription) {
	word-wrap: break-word;
	font-size: 1.6em;
	overflow: hidden;
}
