:local(.outerbox) {
	border: 0.1em solid #c0c0c0;
	margin: 5px 40px;
	background-color: #f0ffff;
	height: 100%;
	border-radius: 25px;
}

:local(.outerbox:hover) {
	background-color: #ffe4c4;
}

:local(.pic) {
	width: 100px;
	height: 100px;
	display: inline;
	margin: 30px 10px;
	border: solid
}

:local(.likebox) {
	display: inline-block;
	width:50px;
	position: relative;
	top: 18px;
}

:local(.like) {
	margin: 5px;
}

:local(.link) {
	width: 100%;
	height: 100%;
}

:local(.description) {
	width: 70%;
	display: inline-block;
	margin: 0px 50px;
	text-align: center;
}

:local(.textDescription) {
	word-wrap: break-word;
	font-size: 1.6em;
}
